

.testimonials-section, .faq-section {
  padding: 40px 20px;
  margin: 20px 0;
  max-width: 1400px;
  margin: 10px auto 0;
}

.subheading2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.subheading2::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: gold;
  margin: 10px auto 0;
}

.testimonials-section {
  padding: 60px 20px;
  text-align: center;
}
.testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.testimonial-card {
  background-color: #2A3A54;
  border: solid 2px gold;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  flex: 1;
}

.testimonial-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}
.testimonial-card p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
  font-style: italic;
}
.testimonial-card span {
  font-size: 0.9rem;
  color: gold;
  font-weight: 500;
}

/* Blog Section */
.blog-section {
  max-width: 1800px;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-card {
  background-color:#2A3A54;
  border-radius: 10px;
  padding: 20px;
  max-width: 330px;
  width: 100%;
  margin: 10px;
}
.blog-card-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  padding-bottom: 10px;
  height: 200px;
}

.blog-card h2 {
  font-size: 1.2rem;
  color: gold;
  margin-bottom: 10px;
}
.blog-card p {
  font-size: 0.95rem;
  color: white;
  margin-bottom: 15px;
}
.cta-service-button {
  display: inline-block;
  font-size: 0.9rem;
  color: gold;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid gold;
  padding: 8px 15px;
  border-radius: 5px;
}


/* FAQ Section */
.faq-section {
  background: rgba(255, 255, 255, 0.5);
  max-width: 800px;
  margin: 0 auto;
}
.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.faq-question {
  background: none;
  border: none;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.faq-answer {
  display: none;
  padding: 10px 0;
  font-size: 0.95rem;
  color: #555;
}
.faq-question:focus + .faq-answer {
  display: block;
}

.small-carousel-container {
  
  width: 100%;
  /* border-top: 2px solid gold; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 40px 0 20px;
}

.small-carousel {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.small-carousel-inner {
  display: flex;
  transition: transform 2s ease;
}
.small-carousel-card img{
  width: 100%;
  height: 100%;
  padding: 5px ;
  object-fit:contain;
}
.small-carousel-card {
  flex: 0 0 50%;
  /* height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.small-carousel-prev,
.small-carousel-next {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .small-carousel-card {
    flex: 0 0 25%;
  }

}

