footer {
    /* background: linear-gradient(45deg, #BD330A, #ff5722, #BD330A); */
    background-color:#2A3A54;
    color: white;
    padding: 50px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 15px;
}

.footer-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-section hr {
    width: 50px;
    height: 2px;
    background-color: gold;
    border: none;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.6;
}

img.text-image-square {
    margin-bottom:15px;
    display: block;
    width: 250px;
}

.social-icons {
    display: flex;
    margin-top: 15px;
}

.social-icons a {
    margin-right: 10px;
    color: gold;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid ;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li {
    margin-bottom: 10px;
}

.footer-section.links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}


#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;

  }
  
  #whatsapp-button img {
    height: 60px;
    width: auto;
  }


/* Responsive Design */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    #whatsapp-button img {
        height: 13vw;
    }
}
