/* Hero Section */
.ias-hero-carousel {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.ias-hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 800px;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.ias-hero-slide.active {
  opacity: 1;
  z-index: 1;
  height: 100%;
}

.ias-hero-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(62, 80, 129, 0.3), rgba(62, 80, 129, 0.3)); 
  z-index: -1;
}

.ias-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  width: 100%;
  max-height: 100%; 
  overflow: hidden;
}

.ias-hero-content h1 {
  color: #000;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.ias-hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.ias-hero-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: gold;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: 600;
}

/* HEROUP Section */
.heroup-wrapper {
  width: 100%;
  text-align: center;
  margin: 0;
  height: auto; /* Adjust height to prevent overflow */
}

.heroup-container {
  margin: auto;
  position: relative;
  max-width: 900px;
  width: 90%;
  padding: 10px;
  text-align: center;
}

.heroup-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 17px;
  z-index: 0;
}

.heroup-inner {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px 20px;
}

.heroup-image {
  width: 20%;
  margin: 0 auto;
}

.heroup-image img {
  width: 100%;
}


.heroup-title {
  font-size: 2.5rem;
  color: #222;
  padding-bottom: 5px;
}

.heroup-description {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  max-width: 700px;
  margin: auto;
  font-weight: 500;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Added text shadow */
}

.heroup-under {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroup-under img {
  max-width: 700px;
  width: 90%;
}

.hubungi-button {
  display: inline-block;
  background-color: gold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 600;
  padding: 20px 35px;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 50px;
}

/* Responsif */
@media (max-width: 868px) {
  .heroup-image {
    width: 40%;
  }
  .ias-hero-slide {
    top: 0;
  }
  .ias-hero-content {
    max-width: 80%;
  }
  .hubungi-button {
    padding: 8px 20px;
    font-size: 0.7rem;
  }
  .ias-hero-content h1 {
    font-size: 2rem;
  }

  .ias-hero-content p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .ias-hero-btn {
    font-size: 0.9rem;
    padding: 0.7rem 1.2rem;
  }

  .heroup-title {
    font-size: 1.5rem;
  }

  .image-small {
    width: 30%;
  }

  .heroup-wrapper .heroup-description {
    max-width: 90%;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .ias-hero-carousel{
    height: 50vh;
  }
  .ias-hero-content h1 {
    font-size: 1.5rem;
  }

  .ias-hero-content p {
    font-size: 0.9rem;
  }

  .ias-hero-btn {
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
  }
  .hubungi-button {
    padding: 6px 15px;
    font-size: 0.6rem;
  }
  
  .heroup-title {
    font-size: 1.7rem;
  }

  .image-small {
    width: 50%;
  }
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fff; 
}

.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;

}

.slide {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 250px;
  height: auto;
}

.company-slide img {
  height: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider:hover .slide-track {
  animation-play-state: paused;
}
