/* card png */

.pngcardwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 20px; 
    max-width: 1400px; 
    width: 100%;

  }
.service-page .more-info {
    padding: 0px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: pulse 1.5s infinite;
}
.service-page a{
    text-decoration: none;
}
  
  .card-image {
    padding: 20px;
    width: 450px; 
    height: auto;
    object-fit: cover; 
    transition: transform 0.3s ease;
  }
  
  .card-image:hover {
    transform: scale(1.05); 
  }

.hero img{
    height: 100%;
    width: 100%;
}

.service-page {
    padding: 50px;
    align-items: center;
    text-align: center;
}

.service-page h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.service-page p {
    line-height: 1.6;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}
.card-content img{
    width: 40px; 
    height: 40px; 
    filter: invert(1) brightness(100%);
}

.card {
    
    position: relative; 
    text-align: left;
    height: auto;
    width: 300px; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: white; 
}

.card-content{
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: -20px;
    color: white;
}

.badge-icon {
    border-width: 1px;
    border-style: solid;
    border-color: #c2cacf;
    background-color: white; 
    position: absolute;
    top: -10px;
    right: -10px;
    max-width: 40px; 
    max-height: 40px; 
    height: auto;
}

.card h2 {
    font-weight: 600;
}

.card p {
    padding:  30px 0 30px 0;

}

.list {
    padding: 0 0 20px 20px;
    list-style-type: none;
    margin-bottom: 20px;
}

.list li {
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}
.list li::before{
    content: '✔';
    color: gold;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cta-service-button {
    font-family: "Red Hat Display", sans-serif; 
    background-color: #25D366;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


.subheading2 {
    padding-top: 40px;
    font-weight: 600;
    text-align: center; 
    font-size: 1.5rem; 
    margin: 20px 0; 
    position: relative; 
}

.subheading2::after {
    content: '';
    display: block;
    width: 50%; 
    height: 2px;
    background: gold; 
    margin: 10px auto 0; 
}

.service-banner {
    border: solid 2.5px rgb(236, 192, 47);
    background: linear-gradient(203deg, rgba(37, 63, 105, 0.6), rgba(42, 58, 84, 1.0));
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

.banner-heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-description {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.cta-banner-button {
    font-size: 1.2rem;
    background: linear-gradient(45deg, #FFD700, #eee2b8, #ffbb00);
    color: #072a49;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
}

.cta-banner-button:hover {
    background-color: #ff9900;
}

@media (max-width: 768px) {

    .banner-heading {
        font-size: 1.9rem;
    }

    .banner-description {
        font-size: 1rem;
    }

    .cta-banner-button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
    .service-page .more-info{

        font-size: 1.4rem;
    }
}

@media (max-width: 1020px) {
    .card {
        width: 100%; 
    }
    .card-image{
        width: 100%; 
        }
        .image-gallery {
            padding:0;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        }    
        
}

@media (max-width: 768px) {
    .service-page {
        padding: 30px; 
    }

    .card {
        width: 90%; 
    }
    .banner-description{
        display: none;
    }
    .service-banner{
        margin-bottom: 15px;
    }
    .cta-service-button{
    display: block; 
    }
 
}

/* STYLE 2 */

.services-container2 {
    max-width: 1800px;
    margin: 0 auto;
    padding: 50px 15px;
}

.subheading2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}

.service-list2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.service-item2 {
    background: linear-gradient(203deg, #2A3A54, transparent);
    border: 2px solid gold;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.service-item2:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-icon2 {
    font-size: 3rem;
    color: #0073e6;
    margin-bottom: 15px;
}

.service-info2 h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.service-info2 p {
    font-size: 1rem;
    color: rgb(255 237 133);
}

.icon-notary {
    font-size: 2rem;
    color: gold;
}

@media (max-width: 1200px) {
    .service-list2 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
    .service-info2 h4 {
        font-size: 1.2rem;
    }
    .service-info2 p {
        font-size: 0.9rem; 
    }
}

@media (max-width: 900px) {
    .services-container2 {
        padding: 0;
    }
    .subheading2 {
        margin: 0;
    }
    .service-list2 {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        gap: 5px;
    }
    .service-icon2 {
        display: none;
    }
    .service-item2 {
        padding: 20px 5px 20px 5px;
        overflow: hidden;
        border: 1px solid gold;
    }
    .service-info2 p {
        display: none;
    }
    .service-info2 {
        margin: 0 auto;
    }
    .service-page {
        padding: 0;
    }

    .service-info2 h4 {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .service-list2 {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    }
    .service-info2 h4 {
        font-size: 0.9rem; 
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
